*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #888888;
}

img:hover{
    cursor: pointer;
    opacity: .75;
    scale: 1.1;
    transition: .1s ease-in-out;
}

#helpModal{
    width: 300px;
    border-radius: 1vmin;
    outline: none;
    box-shadow: 4px 4px 10px 0px #555555;
}

.forms{
    overflow-y: scroll;
    height: 100vh;
    position: relative;
}

.formContainer{
    background-color: #333333;
    color: white;
    width: 80vw;
    padding: 2rem;
    gap: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.formContainer > div:first-child{
    display: flex;
    justify-content: space-between;
}

.formItem{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

.formItem > div > label:first-child{
    margin-right: 1rem;
}

input[type = "checkbox"]{
    margin-right: .5rem;
}

label{
    font-size: 1.2rem;
}

label:hover{
    cursor: pointer;
}

:checked + span{
    opacity: .5;
}

select{
    font-size: 1.2rem;
}

.finishBtn{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #777777;
    background-color: #333333;
}

.finishBtn button{
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.finishBtn button:hover{
    cursor: pointer;
}

.log{
    width: 80vw;
    height: 80vh;
    background-color: #dddddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 10px 0px #555555;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.log h1{
    font-size: 2rem;
    align-self: center;
}

.results{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.pendencies{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 0;
    grid-row: 1 / -1;
    border: 1px solid black;
}

.logTable{
    margin-top: 2rem;
    width: 80%;
    max-height: 80%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.hidden{
    display: none;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
  }

td, th {
    text-align: left;
    padding: 1rem;
  }
  
tr {
    background-color: #eeeeee;
  }
tr:nth-child(even) {
    background-color: #cccccc;
  }

  thead tr{
    background-color: blueviolet;
    color: white;
    text-align: left;
    font-weight: bold;
  }